<div class="row">
  <p>Schweizer Fleisch Trophy</p>
  <h1>Clubmeisterschaften 2013</h1>
<p>Patrick Peyer-Feuz gewann die Clubmeisterschaften im Herren-Einzel zum ersten Mal nachdem er im letzten Jahr im Final noch gescheitert war. Er gewann das Finalspiel gegen Roger Bourquin in 3 Sätzen. An der Seite von Roberto Lombardi gewann Patrick Peyer-Feuz auch den Titel im Herren-Doppel. Im Team-Cup gewannen Hansjörg Christen und Priska Schmitter.</p>

<div style="padding-top: 5px">
<p><a href="../Download/Resultate_Tableau_Herren_Einzel_2013.pdf" target="_new">Zu den Resultaten des Herren-Einzels</a></p>
<p><a href="../Download/Resultate_Tableau_Herren_Doppel_2013.pdf" target="_new">Zu den Resultaten des Herren-Doppels</a></p>
</div>

  <div class="row">
<%= link_to image_tag("/assets/clubmeisterschaften2013_HEFinal.jpg")%>

<p>Das Herren-Einzel Finale: Patrick Peyer-Feuz (mit Sohn Michael) und Roger Bourquin.</p>
</div>

 <div class="row">
<%= link_to image_tag("/assets/clubmeisterschaften2013_team_cup.jpg")%>

<p>Die Sieger bzw. Finalisten des Team-Cups Hansjörg Christen/Priska Schmitter und Susanna und Marcel Schulthess</p>
</div>

<p><%= link_to 'Zu den Bildern des Finaltages', :controller => 'gallery', :action => 'index' %></p>
<h2>Resultate aus den Vorjahren</h2>
<p><%=link_to 'Clubmeisterschaften 2012', :action => 'clubmeisterschaften2012_resultate'%></p>
<p><%=link_to 'Clubmeisterschaften 2011', :action => 'clubmeisterschaften2011_resultate'%></p>
<p><%=link_to 'Clubmeisterschaften 2010', :action => 'clubmeisterschaften2010_resultate'%></p>
<p><%=link_to 'Clubmeisterschaften 2009', :action => 'clubmeisteschaften2009_resultate'%></p>
<p><%=link_to 'Clubmeisterschaften 2008', :action => 'clubmeisteschaften2008_resultate'%></p>

<div class="back-link" style="clear: both">
 <%= link_to 'zurück', :action => 'index'%>
</div>