<div class="row">
  <p>Schweizer Fleisch Trophy</p>
  <h1>Resultate der Clubmeisterschaften 2017</h1>

<h3>Damen aktiv R1 / R9</h3>
<p>Monika Nyffeler-Thüler vs. Leonie Adam 6:0 6:0</p>
<p><b>Siegerin: Monika Nyffeler-Thüler (TC Olten)</b></p>
<h3>Herren aktiv R1 / R7</h3>
<p>Boris Kellerhals vs. Thomas Bigler 6:3 7:5</p>
<p><b>Sieger: Boris Kellerhals (TC Olten)</b></p>
<h3>Herren aktiv R8 / R9 / NL</h3>
<p>Philipp hurni vs. Lukas Frey 6:0 4:6 7:5</p>
<p><b>Sieger: Philipp Hurni (TC Olten)</b></p>
<h3>Herren 35+ R1 / R9</h3>
<p>Denis Belart vs. Patrick Peyer-Feuz 6:4 6:1</p>
<p><b>Sieger: Denis Belart (TC Olten)</b></p>
<h3>Herren 55+ R4 / R9</h3> 
<p>Bourquin vs. Martin Hammele 4:6 6:4 7:6</p>
<p><b>Sieger: Roger Bourquin (TC Sunlight)</b></p>
<h3>Damendoppel R1 / R9</h3>
<p>Corina Dreier/Judith Fallegger vs. Nicole Stöckli/Sara Wyss 4:6 6:3 6:4</p>
<p><b>Siegerinnen Corina Dreier/Judith Fallegger (TC Olten)</b></p>
<h3>Herrendoppel R1 / R9</h3>
<p>Martin Vögeli/Christoph Zehnder vs. Beat Wyss/Jean-Louis Schafer 6:4 6:2</p>
<p><b>Sieger: Martin Vögeli/Christoph Zehnder (TC Olten)</b></p>
<h3>Mixeddoppel R1 / R9</h3> 
<p>Iris Kohler/Nico Zila vs. Monika Nyffeler/Roman Bachmann 7:5 6:0</p>
<p><b>Sieger: Iris Kohler/Nico Zila (TC Olten)</b></p>

<h2>Resultate aus den Vorjahren</h2>
<p><%=link_to 'Clubmeisterschaften 2015', :action => 'clubmeisterschaften2015_resultate'%></p>
<p><%=link_to 'Clubmeisterschaften 2014', :action => 'clubmeisterschaften2014_resultate'%></p>
<p><%=link_to 'Clubmeisterschaften 2013', :action => 'clubmeisterschaften2013_resultate'%></p>
<p><%=link_to 'Clubmeisterschaften 2012', :action => 'clubmeisterschaften2012_resultate'%></p>
<p><%=link_to 'Clubmeisterschaften 2011', :action => 'clubmeisterschaften2011_resultate'%></p>
<p><%=link_to 'Clubmeisterschaften 2010', :action => 'clubmeisterschaften2010_resultate'%></p>
<p><%=link_to 'Clubmeisterschaften 2009', :action => 'clubmeisteschaften2009_resultate'%></p>
<p><%=link_to 'Clubmeisterschaften 2008', :action => 'clubmeisteschaften2008_resultate'%></p>

<div class="back-link" style="clear: both">
 <%= link_to 'zurück', :action => 'index'%>
</div>