<div class="row-fluid">
  <p>Schweizer Fleisch Trophy</p>
  <h1>Clubmeisterschaften 2014</h1>
<p>Patrick Peyer-Feuz konnte seinen Titel vom Vorjahr im Herren-Einzel erfolgreich verteidigen. Er gewann im Final gegen Stefan Bigler. Das Herren-Doppel gewannen Thomas und Stefan Bigler gegen Gabriel Burki und Ralph Troll. Im Team-Cup konnten sich Susanna und Marcel Schulthess gegen Priska Schmitter und Hansjörg Christen durchsetzen.</p>

<div style="padding-top: 5px">
<p><a href="../Download/Resultate_Tableau_Herren_Einzel_2014.pdf" target="_new">Zu den Resultaten des Herren-Einzels</a></p>
<p><a href="../Download/Resultate_Tableau_Herren_Doppel_2014.pdf" target="_new">Zu den Resultaten des Herren-Doppels</a></p>
<p><a href="../Download/Resultate_Tableau_TeamCup_2014.pdf" target="_new">Zu den Resultaten des Team-Cups</a></p>
</div>

<h2>Resultate aus den Vorjahren</h2>
<p><%=link_to 'Clubmeisterschaften 2013', :action => 'clubmeisterschaften2013_resultate'%></p>
<p><%=link_to 'Clubmeisterschaften 2012', :action => 'clubmeisterschaften2012_resultate'%></p>
<p><%=link_to 'Clubmeisterschaften 2011', :action => 'clubmeisterschaften2011_resultate'%></p>
<p><%=link_to 'Clubmeisterschaften 2010', :action => 'clubmeisterschaften2010_resultate'%></p>
<p><%=link_to 'Clubmeisterschaften 2009', :action => 'clubmeisteschaften2009_resultate'%></p>
<p><%=link_to 'Clubmeisterschaften 2008', :action => 'clubmeisteschaften2008_resultate'%></p>

<div class="back-link" style="clear: both">
 <%= link_to 'zurück', :action => 'index'%>
</div>