<div class="row-fluid">
  <p>Schweizer Fleisch Trophy</p>
  <h1>Clubmeisterschaften 2015</h1>
<p>Patrick Peyer-Feuz konnte im Herren-Einzel seinen Titel vom Vorjahr verteidigen. Er gewann gegen Roberto Lombardi klar in 2 Sätzen. Bei den Senioren konnte sich im Final Marco Brodbeck gegen Beat Wyss durchsetzen. Im Doppel haben Adrian Jäggi und Gabriel Burki gegen Rolf Graber und Jean-Louis Schafer gewonnen.</p>


<div style="padding-top: 5px">
<p><a href="../Download/Resultate_Tableau_Herren_Einzel_2015.pdf" target="_new">Zu den Resultaten des Herren-Einzels</a></p>
<p><a href="../Download/Resultate_Tableau_Herren_Senioren_2015.pdf" target="_new">Zu den Resultaten der Senioren</a></p>
<p><a href="../Download/Resultate_Tableau_Herren_Doppel_2015.pdf" target="_new">Zu den Resultaten des Herren-Doppels</a></p>
</div>

 <div class="row-fluid">
<%= link_to image_tag("/assets/clubmeisterschaften_2015_final.jpg")%>

<p>Die Finalisten der Clubmeisterschaften 2015.</p>
</div>
	
<p><%= link_to 'Zu den Bildern des Finaltages', :controller => 'gallery', :action => 'index' %></p>
<h2>Resultate aus den Vorjahren</h2>
<p><%=link_to 'Clubmeisterschaften 2014', :action => 'clubmeisterschaften2014_resultate'%></p>
<p><%=link_to 'Clubmeisterschaften 2013', :action => 'clubmeisterschaften2013_resultate'%></p>
<p><%=link_to 'Clubmeisterschaften 2012', :action => 'clubmeisterschaften2012_resultate'%></p>
<p><%=link_to 'Clubmeisterschaften 2011', :action => 'clubmeisterschaften2011_resultate'%></p>
<p><%=link_to 'Clubmeisterschaften 2010', :action => 'clubmeisterschaften2010_resultate'%></p>
<p><%=link_to 'Clubmeisterschaften 2009', :action => 'clubmeisteschaften2009_resultate'%></p>
<p><%=link_to 'Clubmeisterschaften 2008', :action => 'clubmeisteschaften2008_resultate'%></p>

<div class="back-link" style="clear: both">
 <%= link_to 'zurück', :action => 'index'%>
</div>