
  <div class="row">
<div class="col-sm-4 col-lg-4 col-md-4">
    <h4>360° Panoramatour</h4>
    <p>Der TC Sunlight verfügt über eine der schönsten Tennisanlagen der Region. <%= link_to 'Erkunde die Anlage', :action => 'gheid'%>.
    </p>
  </div>
  <div class="col-sm-4 col-lg-4 col-md-4">
    <h4>Lust auf Tennis?</h4>
    <p><%= link_to 'Werde Mitglied.', :action => 'mitglied'%></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      News
    </h1>
  </div>
  <div class="col-sm-4 col-lg-4 col-md-4">
    <h4><a href="../Download/Tableaux_2016.pdf" target="_new">Rado Trophy - Clubmeisterschaften 2016 mit Grillabend</a></h4>
  Die Auslosung ist erfolgt. Leider mussten aufgrund der wenigen Anmeldungen die Konkurrenz 45+ mit den Aktiven zusammengelegt werden. Für den Team-Cup haben wir keine Anmeldungen erhalten. Die Einzel- und Doppel-Partien sind vom Montag 15. bis Sonntag 21. August angesetzt.
  <br><a href="../Download/Tableaux_2016.pdf" target="_new">Tableaux herunterladen.</a>
</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <h4>Grillabend und Clubmeisterschafts-Apéro</h4>
  Am Freitagabend 19. August um 19.00 Uhr heisst der TC Sunlight alle Clubmitglieder zum Grillieren herzlich willkommen und spendiert Bratwürste mit Beilagen gegen Abgabe des Gutscheins aus der Ausschreibung der Clubmeisterschaften. Am Sonntag 21. August um 11.30 Uhr findet das Clubmeisterschafts-Apéro statt. Parallel dazu finden die Finalspiele statt.
</div>
  <div class="col-sm-4 col-lg-4 col-md-4">
    <h4>Interclubsaison 2016</h4>
    <p>Die Interclubsaison 2016 ist vorbei. Die Herrenmannschaft 55+ steigt in die 1. Liga auf. Die Herrenmannschaft 35+ hat ihr Abstiegsspiel gewonnen und bleibt in der 2. Liga. Die Herrenmannschaften 45+ steigen in die 2. Liga bzw. 3. Liga ab.</p>
  </div>
  <div class="col-sm-4 col-lg-4 col-md-4">
   <h4>Jahresprogramm und Clubinfos 2016</h4>
   <p>Das Jahresprogramm und die Clubinfos 2016 können im <%= link_to "Download-Bereich heruntergeladen", :action => 'downloads'%> werden.
   </p>
 </div>
<div class="col-sm-4 col-lg-4 col-md-4">
  <h4>GV vom 18. März 2016</h4>
  <p>Martin Hammele informierte an der GV vom 18. März 2016 über den Stand des Fusionsprojekts "Gheid". Die städtischen Betriebe Olten wollen den Baurechtsvertrag, auf dem die fünf Tennisplätze im Gheid stehen, nicht mehr verlängern. Die Fusion mit dem TC Olten ist damit in der geplanten Form gescheitert.
       <br><%= link_to "Zum Kurzbericht der GV.", :action => 'gv2016'%><!--<br>
       <a href="../Download/Protokoll_GV_2016.pdf" target="_new">Zum Protokoll der GV.</a>-->
     </div>
     
  </div>
   <!-- /.row -->
   <div class="row">
     <div class="col-lg-12">
      <h1 id="reservations" class="page-header">
        Platzreservationen
      </h1>
    </div>
    <div class="col-md-11">
      <table class="table table-striped table-hover">
       <thead>
         <tr>
           <th>Datum/Zeit</th>
           <th>Grund</th>
           <th>Plätze</th>
         </tr>
       </thead>
       <tbody>
         <tr>
        <td>15. - 19. August 2016 ab 18:30</td>
        <td>Clubmeisterschaften</td>
        <td>1-2</td>
      </tr>
         <tr>
        <td>20./21. August 2016 ganzer Tag</td>
        <td>Clubmeisterschaften</td>
        <td>1-3</td>
      </tr>


     <!--<tr>
        <td>Jeden Donnerstag 19.00 - 20.30 und Freitag 18.30 - 22.30</td>
        <td>Interclubtraining gemäss <%= link_to 'Trainingsplan', :action => 'interclub'%></td>
        <td>Platz 1 + 2</td>
      </tr>-->
    </tbody>
  </table>
</div>
</div>
<!-- /.row -->

