<div class="hero-unit">
  <div class="container">
    
    <h1>Tennis spielen</h1>
    <h1>in Olten</h1>
    <h2 class="offset7">Auf der schönsten</h2> 
    <h2 class="offset7">Anlage der Region</h2> 
  </div>
</div>
<hr>
<div class="row-fluid marketing">
  

  <div class="span5">
  
<h4>Patrick Peyer-Feuz wird Clubmeister im Herren-Einzel</h4>
  <p>Patrick Peyer-Feuz konnte seinen Clubmeistertitel vom Vorjahr im Herren-Einzel erfolgreich verteidigen. Im Herren-Doppel gewannen Stefan und Thomas Bigler.<br>
    <%= link_to 'Zu den Resultaten und Bildern', :action => 'clubmeisterschaften2014_resultate'%><br>
    
</p>

  <h4>Hopp Schwiiz Obe</h4>
  <p>Am 20. Juni war im Gheid für einmal Fussball angesagt statt Tennis. Um die 30 Gäste folgten der Einladung des Interclub 35+ Herrenteam und verbrachten einen geselligen Hopp Schwiiz Obe. Nur die Leistung der Schweizer WM-Kicker konnte die Stimmung etwas trüben. 
    <%= link_to 'Zu den Bildern.', :controller => 'gallery' %>
  </p>
 </div>

 <div class="span6">
  <h4>Interclub</h4>
   <p>In der Saison 2014 sind zwei neue Interclubmannschaften am Start. Der TC Sunlight verfügt nun insgesamt über 4 Teams. <%= link_to 'Lerne die Mannschaften kennen.', :action => 'interclub'%></p>
  <h4>360° Panoramatour</h4>
  <p>Der TC Sunlight verfügt über eine der schönsten Tennisanlagen der Region. <%= link_to 'Erkunde die Anlage', :action => 'gheid'%>.</p>
<h4>Jahresprogramm 2014</h4>
   <p><a href="../Download/Jahresprogramm_2014.pdf" target="_new">Zum Jahresprogramm 2014.</a>
  <h4>Lust auf Tennis?</h4>
  <p><%= link_to 'Werde Mitglied.', :action => 'mitglied'%></p>
</div>

</div>
<div>
  <h4>Platzreservationen</h4>
  <table class="table table-striped">
   <thead>
     <tr>
       <th>Datum/Zeit</th>
       <th>Grund</th>
       <th>Plätze</th>
     </tr>
   </thead>
   <tbody>
  <tr>
    <td>Im Moment sind keine Reservationen bekannt.</td>
    <td></td>
    <td></td>
  </tr>
 <!--<tr>
    <td>Jeden Donnerstag und Freitag 18.30 - 22.30</td>
    <td>Interclubtraining gemäss <%= link_to 'Trainingsplan', :action => 'interclub'%></td>
    <td>Platz 1 + 2</td>
  </tr>-->
  </tbody>
</table>
</div>
</div>
