<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "TC Sunlight Olten" %></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

  <!-- Wrapper div for sticky footer. Do not render for homage as it would break carousel (see comment below). -->
  <% if !current_page?('/') %>
  <div id="wrap">
    <%end%>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <%= render 'layouts/navigation' %>
      </div>
    </nav>

    <!-- As soon as the carousel container div is not at top level in the DOM the item divs with class fill do not work anymore. Need to do render the carousel with a condition here. -->
    <% if current_page?('/') %>
    <header id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="fill" style="background-image:url('../images/front_1.jpg');"></div>
          
        </div>
        <div class="item">
          <div class="fill" style="background-image:url('../images/front_2.jpg');"></div>
         
        </div>
        <div class="item">
          <div class="fill" style="background-image:url('../images/front_3.jpg');"></div>
         
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
      </a>
    </header>
    <% end %>
    
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    <div id="push"></div>
  </div>
  
  <div id="footer">
    <div class="text-muted credit">
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <ul>
              <li>TC Sunlight Olten</li>
              <li>Sportstrasse 111, 4600 Olten</li>
            </ul>
          </div>
          <div class="col-xs-3">
           <ul >
            <li>ÜBER UNS</li>
            <li><%= link_to "Impressum", :controller => "pages", :action => "impressum"%></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<% if !current_page?('/') %>
</div>
<%end%>

<!-- Script to Activate the Carousel -->
<script>
$('#myCarousel').carousel({
        interval: 5000 //changes the speed
      })
</script>
<%= render 'layouts/analytics'%>
</body>
</html>
